{% extends "FrontBundle:Base:layout.html.twig" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="#">Accueil</a> <span class="divider">/</span></li>
        <li><a href="#">Mon Compte</a> <span class="divider">/</span></li>
        <li class="active">S'inscrire</li>
    </ul>
{% endblock %}
