/* 
    Document   : style.css
    Created on : 5 nov. 2012, 11:59:15
    Author     : Mathieu
    Description:
        Purpose of the stylesheet follows.
*/
#wrapper {
	margin-top: 80px;
}

footer {
	margin-top: 30px;
}